# Object oriented programming basics
### Functions, methods, attributes, datatypes

In [1]:
import pandas as pd     # dataframes
import numpy as np      # numbers and arrays 
import matplotlib.pyplot as plt  # plotting
from sklearn import datasets

In [2]:
x=np.array(range(10))  # method to create an object x
x
#type(x) # Python function, type(), gives datatype of x 
#x.dtype # Python method, gives datatype of the elements of x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
x[1]

1

In [17]:
sum(x) # function

45

In [18]:
x.sum() # method

45

In [23]:
x.size   # attribute: number of elements in the array x

10

In [41]:
Df=pd.DataFrame(x, columns=['Column 1'])
Df

   Column 1
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9

In [42]:
type(Df)

pandas.core.frame.DataFrame